<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    Edit My Profile
  </p>

  <div flex="70" layout="column" ng-cloak class="md-inline-form everything md-whiteframe-z1 pageContainer">

        <md-content layout-gt-sm="row" layout-padding>
          <div>
            <md-input-container>
              <label>Title</label>
              <input ng-model="uc.eventService.eventToView.title">
            </md-input-container>
          </div>

          <div class="inset" ng-cloak>
  <md-switch ng-model="uc.eventService.eventToView.closed" aria-label="Switch 1">
  <span ng-show="!uc.eventService.eventToView.closed">Event open</span><span ng-show="uc.eventService.eventToView.closed">Event full</span>
  </md-switch>
  </div>
        </md-content>

        <md-content layout-padding>
          <div>
            <form name="userForm">

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                  <label>Enter games then hit enter</label>
                  <md-chips ng-model="uc.eventService.eventToView.games" md-removable="uc.removable"></md-chips>
                </md-input-container>

                <md-input-container>
                  <label>Enter date</label>
                  <md-datepicker ng-model="uc.eventService.eventToView.date" md-min-date="uc.minDate" md-open-on-focus></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Time</label>
                  <input ng-model="uc.eventService.eventToView.time">
                </md-input-container>
              </div>

              <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="uc.eventService.eventToView.address">
              </md-input-container>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>City</label>
                  <input ng-model="uc.eventService.eventToView.city">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>State</label>
                  <md-select ng-model="uc.eventService.eventToView.state">
                    <md-option ng-repeat="state in uc.eventService.states" value="{{state.abbrev}}">
                      {{state.abbrev}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Postal Code</label>
                  <input name="postalCode" ng-model="uc.eventService.eventToView.zipCode" placeholder="12345"
                         required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                  <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                    <div ng-message="required" class="my-message">You must supply a postal code.</div>
                    <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                      code.
                    </div>
                    <div ng-message="md-maxlength" class="my-message">
                      Don't use the long version silly...we don't need to be that specific...
                    </div>
                  </div>
                </md-input-container>
              </div>

              <md-input-container class="md-block">
                <label>Description</label>
                <textarea ng-model="uc.eventService.eventToView.description" rows="5" md-select-on-focus></textarea>
              </md-input-container>

            </form>
          </div>
          <a href="#/viewevent"><md-button style="float:right" type="button" name="button" class="md-raised md-primary" ng-click="uc.eventService.updateEvent()">Save Changes</md-button></a>
          <a href="#/myevents"><md-button style="float:right" type="button" name="button" class="md-raised md-primary">Cancel</md-button></a>

        </md-content>


      </div>



  <p>
    Name: <input type="text" name="" ng-model="uc.userObject.name" value="{{uc.userObject.name}}" />
  </p>
  <p>
    Age: <input type="text" name="" ng-model="uc.userObject.age" value="{{uc.userObject.age}}" />
  </p>
  <p>
    Gender: <input type="text" name="" ng-model="uc.userObject.gender" value="{{uc.userObject.gender}}" />
  </p>
  <p>
    Location: <input type="text" name="" ng-model="uc.userObject.location" value="{{uc.userObject.location}}" />
  </p>
  <p>
    Favorite Games: <input type="text" name="" ng-model="uc.userObject.favoriteGames" value="{{uc.userObject.favoriteGames}}" />
  </p>
  <p>
    Contact Info: <input type="text" name="" ng-model="uc.userObject.contactInfo" value="{{uc.userObject.contactInfo}}" />
  </p>
  <p>
    About Me: <input type="text" name="" ng-model="uc.userObject.aboutMe" value="{{uc.userObject.aboutMe}}" />
  </p>

  <a href="#/myprofile"><button type="button" name="button">Cancel</button></a>
  <a href="#/myprofile"><button type="button" name="button" ng-click="uc.updateUserProfile()">Update</button></a>

</div>
