<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
  <div class="container">
    <p>
      Edit Event! <button type="button" name="button" ng-click="uc.eventService.test()">TEST</button>
    </p>



    <div flex="70" layout="column" ng-cloak class="md-inline-form everything md-whiteframe-z1 pageContainer">



                <div class="inputHeader">
                  <h3>Create New Event</h3>
                </div>





          <md-content layout-gt-sm="row" layout-padding>
            <div>
            <div ng-show="!uc.eventService.eventToView.img" class="card-media" style="height:250px;width:350px;margin:15px"></div>
            <img ng-show="uc.eventService.eventToView.img" ng-src="{{uc.eventService.eventToView.img[0] + uc.eventService.eventToView.img[1]}}" style="max-width:350px"/>
            <div style="text-align:center"><button type="button" name="button" ng-click="uc.eventService.eventToView.img = uc.eventService.returnPicker()">Upload event image</button></div>
            </div>
            <div layout="column">
              <md-input-container>
                <label>Title</label>
                <input ng-model="uc.eventService.eventToView.title">
              </md-input-container>
              <md-input-container>
                <label>Enter date</label>
                <md-datepicker ng-model="uc.eventService.eventToView.date" md-open-on-focus></md-datepicker>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Time</label>
                <input ng-model="uc.eventService.eventToView.time">
              </md-input-container>
            </div>

            <div class="inset" ng-cloak>
            <md-switch ng-model="uc.eventService.eventToView.closed" aria-label="Switch 1">
            <span ng-show="!uc.eventService.eventToView.closed">Event open</span><span ng-show="uc.eventService.eventToView.closed">Event full</span>
            </md-switch>
            </div>
          </md-content>

          <md-content layout-padding>
            <div>
              <form name="userForm">

                <div layout-gt-xs="row">
                  <span style="max-height:20px;margin-top:30px;color:gray">Games:</span>

                    <md-chips style="width:100%;margin:10px;" ng-model="uc.eventService.eventToView.games" md-removable="uc.eventService.removable"></md-chips>



                </div>
  <div style="text-align:center">
    <span style="max-height:20px;color:gray;margin-left:auto;margin-right:auto;margin-top:-20px;">(Press enter after each game)</span>
  </div>
                <md-input-container class="md-block">
                  <label>Address</label>
                  <input ng-model="uc.eventService.eventToView.address">
                </md-input-container>

                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>City</label>
                    <input ng-model="uc.eventService.eventToView.city">
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>State</label>
                    <md-select ng-model="uc.eventService.eventToView.state">
                      <md-option ng-repeat="state in uc.eventService.states" value="{{state.abbrev}}">
                        {{state.abbrev}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Postal Code</label>
                    <input name="postalCode" ng-model="uc.eventService.eventToView.zipCode" placeholder="12345"
                           required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                    <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">You must supply a postal code.</div>
                      <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                        code.
                      </div>
                      <div ng-message="md-maxlength" class="my-message">
                        Don't use the long version silly...we don't need to be that specific...
                      </div>
                    </div>
                  </md-input-container>
                </div>

                <md-input-container class="md-block">
                  <label>Description</label>
                  <textarea ng-model="uc.eventService.eventToView.description" rows="5" md-select-on-focus></textarea>
                </md-input-container>

              </form>
            </div>
            <a href="#/viewevent"><md-button style="float:right" type="button" name="button" class="md-raised md-primary" ng-click="uc.eventService.updateEvent()">Save Changes</md-button></a>
            <a href="#/myevents"><md-button style="float:right" type="button" name="button" class="md-raised md-primary">Cancel</md-button></a>

          </md-content>


        </div>


  </div>
