<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    Viewing My Events!
  </p>

  <div flex-xs flex-gt-xs="80" layout="column" class="pageContainer">
    <!-- HOSTING -->
    <md-card class="md-whiteframe-3dp" ng-show="admEvent.status == 'admin'" ng-repeat="admEvent in uc.eventService.myEvents">
      <md-card-title style="background-color:yellow">

        <md-card-title-media>
          <div class="card-media" style="height:250px;width:350px;margin-right:10px" ng-click="uc.eventService.goToEvent(admEvent)"></div>
        </md-card-title-media>

        <md-card-title-text style="background-color:yellow;">
          <span class="md-headline">{{admEvent.title}}</span>
          <span class="md-subhead">When: {{admEvent.date | date}} at {{admEvent.time}}</span>
          <span class="md-subhead">Where: {{admEvent.location}}</span>
          <span class="md-subhead">Games: {{admEvent.games}}</span><br/>
          <span class="md-subhead">{{admEvent.description}}</span>
        </md-card-title-text>
        <div style="text-align:right">
          <p style="font-size:24px;margin-top:-10px">HOSTING</p>
          <p ng-show="admEvent.closed" style="margin-top:-20px;color:red;font-size:18px">Status: Full</p>
          <p ng-show="!admEvent.closed" style="margin-top:-20px;color:green;font-size:18px">Status: Open</p>
          <p ng-show="admEvent.pending.length > 0">(pending requests)</p>
        </div>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" type="button" name="button" ng-click="uc.eventService.goToEditEvent(admEvent)">EDIT EVENT</md-button>
        <md-button class="md-raised md-primary" type="button" name="button" ng-click="uc.eventService.deleteEvent(admEvent._id)">DELETE EVENT</md-button>
      </md-card-actions>
    </md-card>

    <!-- ATTENDING -->
    <md-card class="md-whiteframe-3dp" ng-show="attEvent.status == 'attending'" ng-repeat="attEvent in uc.eventService.myEvents">
      <md-card-title style="background-color:green">

        <md-card-title-media>
          <div class="card-media" style="height:250px;width:350px;margin-right:10px" ng-click="uc.eventService.goToEvent(attEvent)"></div>
        </md-card-title-media>

        <md-card-title-text style="background-color:green">
          <span class="md-headline">{{attEvent.title}}</span>
          <span class="md-subhead">When: {{attEvent.date | date}} at {{attEvent.time}}</span>
          <span class="md-subhead">Where: {{attEvent.location}}</span>
          <span class="md-subhead">Games: {{attEvent.games}}</span><br/>
          <span class="md-subhead">{{attEvent.description}}</span>
        </md-card-title-text>
        <div>
          <p style="font-size:24px;margin-top:-10px">ATTENDING</p>
          <p ng-show="attEvent.closed" style="margin-top:-20px;text-align:right;color:red;font-size:18px">Status: Full</p>
          <p ng-show="!attEvent.closed" style="margin-top:-20px;text-align:right;color:green;font-size:18px">Status: Open</p>
        </div>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
<md-button class="md-raised md-primary" type="button" name="button" ng-click="uc.eventService.cancelAttend(attEvent._id)">Cancel Attendance</md-button>
      </md-card-actions>
    </md-card>

    <!-- PENDING -->
    <md-card class="md-whiteframe-3dp" ng-show="penEvent.status == 'pending'" ng-repeat="penEvent in uc.eventService.myEvents">
      <md-card-title style="background-color:skyblue">

        <md-card-title-media>
          <div class="card-media" style="height:250px;width:350px;margin-right:10px" ng-click="uc.eventService.goToEvent(penEvent)"></div>
        </md-card-title-media>

        <md-card-title-text style="background-color:skyblue">
          <span class="md-headline">{{penEvent.title}}</span>
          <span class="md-subhead">When: {{penEvent.date | date}} at {{penEvent.time}}</span>
          <span class="md-subhead">Where: {{penEvent.location}}</span>
          <span class="md-subhead">Games: {{penEvent.games}}</span><br/>
          <span class="md-subhead">{{penEvent.description}}</span>
        </md-card-title-text>
        <div>
          <p style="font-size:24px;margin-top:-10px">PENDING</p>
          <p ng-show="penEvent.closed" style="margin-top:-20px;text-align:right;color:red;font-size:18px">Status: Full</p>
          <p ng-show="!penEvent.closed" style="margin-top:-20px;text-align:right;color:green;font-size:18px">Status: Open</p>
        </div>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
<md-button class="md-raised md-primary" type="button" name="button" ng-click="uc.eventService.cancelRequest(penEvent._id)">Cancel Request</md-button>
      </md-card-actions>
    </md-card>

    <!-- SAVED -->
    <md-card class="md-whiteframe-3dp" ng-show="savEvent.status == 'saved'" ng-repeat="savEvent in uc.eventService.myEvents">
      <md-card-title style="background-color:white">

        <md-card-title-media>
          <div class="card-media" style="height:250px;width:350px;margin-right:10px" ng-click="uc.eventService.goToEvent(savEvent)"></div>
        </md-card-title-media>

        <md-card-title-text style="background-color:white">
          <span class="md-headline">{{savEvent.title}}</span>
          <span class="md-subhead">When: {{savEvent.date | date}} at {{savEvent.time}}</span>
          <span class="md-subhead">Where: {{savEvent.location}}</span>
          <span class="md-subhead">Games: {{savEvent.games}}</span><br/>
          <span class="md-subhead">{{savEvent.description}}</span>
        </md-card-title-text>
        <div>
          <p style="font-size:24px;margin-top:-10px">SAVED</p>
          <p ng-show="savEvent.closed" style="margin-top:-20px;text-align:right;color:red;font-size:18px">Status: Full</p>
          <p ng-show="!savEvent.closed" style="margin-top:-20px;text-align:right;color:green;font-size:18px">Status: Open</p>
        </div>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
<md-button class="md-raised md-primary" type="button" name="button" ng-click="uc.eventService.requestToAttend(savEvent._id)">Request to Attend</md-button>
<md-button class="md-raised md-primary" type="button" name="button" ng-click="uc.eventService.removeFromSaved(savEvent._id)">Remove from Saved</md-button>
      </md-card-actions>
    </md-card>

    <!-- DENIED -->
    <md-card class="md-whiteframe-3dp" ng-show="savEvent.status == 'denied'" ng-repeat="denEvent in uc.eventService.myEvents">
      <md-card-title style="background-color:red">

        <md-card-title-media>
          <div class="card-media" style="height:250px;width:350px;margin-right:10px" ng-click="uc.eventService.goToEvent(denEvent)"></div>
        </md-card-title-media>

        <md-card-title-text style="background-color:red">
          <span class="md-headline">{{denEvent.title}}</span>
          <span class="md-subhead">When: {{denEvent.date | date}} at {{denEvent.time}}</span>
          <span class="md-subhead">Where: {{denEvent.location}}</span>
          <span class="md-subhead">Games: {{denEvent.games}}</span><br/>
          <span class="md-subhead">{{denEvent.description}}</span>
        </md-card-title-text>
        <div>
          <p style="font-size:24px;margin-top:-10px">DENIED</p>
          <p ng-show="denEvent.closed" style="margin-top:-20px;text-align:right;color:red;font-size:18px">Status: Full</p>
          <p ng-show="!denEvent.closed" style="margin-top:-20px;text-align:right;color:green;font-size:18px">Status: Open</p>
        </div>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
<md-button class="md-raised md-primary" type="button" name="button">Remove from Saved</md-button>
      </md-card-actions>
    </md-card>

  </div>

</div>
