<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    My Profile
  </p>
  <p>
    Name: {{uc.userObject.name}}
  </p>
  <p>
    Age: {{uc.userObject.age}}
  </p>
  <p>
    Gender: {{uc.userObject.gender}}
  </p>
  <p>
    Location: {{uc.userObject.location}}
  </p>
  <p>
    Favorite Games: {{uc.userObject.favoriteGames}}
  </p>
  <p>
    Contact Info: {{uc.userObject.contactInfo}}
  </p>
  <p>
    About Me: {{uc.userObject.aboutMe}}
  </p>

  <a href="#/editmyprofile"><button type="button" name="button">EDIT</button></a>
</div>
