<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

<button type="button" name="button" ng-click="uc.eventService.test();">TEST</button>

<div flex-xs flex-gt-xs="80" layout="column" class="pageContainer">
  <md-card style="margin-top:20px">
    <div layout="row" style="background-color:skyblue"><h1 style="font-size:48px;text-align:center;margin-left:auto;margin-right:auto;">{{uc.userObject.userName}}</h1></div>
    <md-card-title style="background-color:yellow">

      <md-card-title-media>
        <div class="card-media" style="height:250px;width:350px;margin-right:10px"></div>
      </md-card-title-media>

      <md-card-title-text style="background-color:yellow">
        <span class="eventSubheading">Name: {{uc.userObject.name}}</span>
        <span class="eventSubheading">Age: {{uc.userObject.age}}</span>
        <span class="eventSubheading">Gender: {{uc.userObject.gender}}</span>
        <span class="eventSubheading">Location: {{uc.userObject.location}}</span>
        <span class="eventSubheading">Favorite games: {{uc.userObject.favoriteGames}}</span>
        <span class="eventSubheading">Contact: {{uc.userObject.contactInfo}}</span>
        <span class="eventSubheading">About me: {{uc.userObject.aboutMe}}</span>
      </md-card-title-text>
      <!-- <div>
        <p style="font-size:24px;margin-top:-10px">Status: OPEN</p>
      </div> -->
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <a href="#/editmyprofile"><md-button class="md-raised md-primary" type="button" name="button">EDIT</md-button></a>
    </md-card-actions>
  </md-card>
</div>





  <p>
    My Profile
  </p>
  <p>
    Name: {{uc.userObject.name}}
  </p>
  <p>
    Age: {{uc.userObject.age}}
  </p>
  <p>
    Gender: {{uc.userObject.gender}}
  </p>
  <p>
    Location: {{uc.userObject.location}}
  </p>
  <p>
    Favorite Games: {{uc.userObject.favoriteGames}}
  </p>
  <p>
    Contact Info: {{uc.userObject.contactInfo}}
  </p>
  <p>
    About Me: {{uc.userObject.aboutMe}}
  </p>

  <a href="#/editmyprofile"><button type="button" name="button">EDIT</button></a>
</div>
