<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <div class="midContainer">




<div flex="80" style="background-color:white;margin-left:auto;margin-right:auto">
  <!--
  search by:
  checkbox include full events
  type, games, skill, date window
  -->

  <label style="display:inline-block;font-size:18px;margin:15px;">Zip:</label><input style="display:inline-block;margin-right:10px" type="text" name="" ng-model="uc.searchZip" placeholder="zip code">
  <md-select style="display:inline-block;margin:15px;font-size:18px" ng-model="uc.eventService.searchParams.type" placeholder="Any event type" class="md-no-underline">
    <md-option value="Any">Any event type</md-option>
    <md-option value="board">Board games</md-option>
    <md-option value="outdoor">Outdoor games</md-option>
    <md-option value="video">Video games</md-option>
  </md-select>
  <md-select style="display:inline-block;margin:15px;font-size:18px" ng-model="uc.eventService.searchParams.skill" placeholder="Any skill level" class="md-no-underline">
    <md-option value="Any">Any skill level</md-option>
    <md-option value="Open to all">Open to all</md-option>
    <md-option value="Know how to play">Know how to play</md-option>
    <md-option value="Skilled players only">Skilled players only</md-option>
  </md-select>

  <label style="display:inline-block;margin:15px;font-size:18px" >Game:</label><input style="display:inline-block" type="text" name="" ng-model="uc.eventService.searchParams.game" placeholder="Any game">
<!-- <md-chips style="margin:10px;" ng-model="uc.eventService.searchParams.games" md-removable="uc.eventService.removable"></md-chips> -->
<md-button style="display:inline-block;margin:15px" type="button" name="button" class="md-raised md-primary" ng-click="uc.eventService.filteredSearch();uc.setSearchZip(uc.searchZip)">SEARCH</md-button>
</div>


  <!-- <button type="button" name="button" ng-click="uc.setSearchZip(uc.searchZip)">Go!</button> -->
  </div>

  <div class="midContainer" flex="80">

    <!-- <ng-map zoom="13" center="zip code {{uc.searchZip}}" style="height:600px"
    on-center-changed="centerCustomMarker()">
    <marker ng-repeat="item in uc.eventArray" position="{{item.address +  ', ' + item.city +  ', ' + item.state +  ', ' + item.zipCode}}" on-click="map.showInfoWindow(event, 'marker-info')"></marker>
    <info-window id="marker-info" max-width="200">
      <div class="infoWindow">
        <div></div>
        <h1>{{thing.title}}</h1>
        <div>
          <p>
            {{thing.description}}
          </p>
          <button type="button" name="button" ng-click="uc.eventService.goToEvent(thing)">View Event</button>

        </div>
      </div>
    </info-window>
  </ng-map> -->


  <ng-map style="height:600px;margin-bottom:30px;border:1px solid black"
  on-center-changed="centerCustomMarker()" center="zip code {{uc.searchZip}}" zoom="11">
    <!-- position="[{{latitude}}, {{longitude}}]" -->
    <marker icon="{{uc.eventService.getMarkerIcon(item.type)}}" id="{{item._id}}" position="{{item.position}}" ng-repeat="item in uc.eventService.eventArray" on-click="uc.eventService.showDetail(item)" style="max-width:10px"></marker>
<!-- BOARD icon="https://cdn.filestackcontent.com/wB4xspHjRbleGDmjOqQq" -->
<!-- VIDEO icon="https://cdn.filestackcontent.com/qI8yPkrZTr2mOqx26xmh" -->
<!-- OUTDOORS icon="https://cdn.filestackcontent.com/Qi4VhBLTZzKUm3Qx9Mug" -->

    <info-window id="foo-iw" >
      <div style="text-align:center" ng-non-bindable="">
        <div style="text-align:right">
          <p class="md-subhead" ng-hide="uc.eventService.event.closed" style="margin-right:10px;color:green">Status: Open</p>
          <p class="md-subhead" ng-show="uc.eventService.event.closed" style="margin-right:10px;color:red">Status: Full</p>
        </div>

              <img ng-show="uc.eventService.event.img.length > 1" ng-src="{{uc.eventService.event.img[0] + uc.eventService.event.img[1]}}" style="max-width:150px;margin-right:10px;"/>

              <p class="md-headline">{{uc.eventService.event.title}}</p>
              <p class="md-subhead">{{uc.eventService.event.date | date}} at {{uc.eventService.event.time}}</p>
              <p class="md-subhead">{{uc.eventService.event.games.join(', ')}}</p>
              <p class="md-subhead">{{uc.eventService.event.description}}</p>



          <md-card-actions layout="row" layout-align="end center">
            <md-button type="button" name="button" ng-click="uc.eventService.goToEvent(uc.eventService.event)">View Event</md-button>
          </md-card-actions>


      </div>
    </info-window>
  </ng-map>

</div>
</div>
