<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

<!-- <button type="button" name="button" ng-click="uc.testVar = uc.test()">TEST</button>
<button type="button" name="button" ng-click="uc.test2()">TEST2</button>
<input type="button" value="Upload" ng-click="uc.eventService.returnPicker()" /> <span>Upload an image</span> -->



<div flex-xs flex-gt-xs="80" layout="column" class="pageContainer">
  <md-card style="margin-top:20px" class="md-whiteframe-5dp">
    <div layout="row" style="background-color:#E52B53"><h1 style="font-size:48px;text-align:center;margin-left:auto;margin-right:auto;">{{uc.eventService.userToView.username}}</h1></div>
    <md-card-title>

      <md-card-title-media>
        <div ng-hide="uc.eventService.userToView.img.length > 1" class="card-media" style="height:250px;width:350px;margin-right:10px"></div>
        <img ng-show="uc.eventService.userToView.img.length > 1" ng-src="{{uc.eventService.userToView.img[0] + uc.eventService.userToView.img[1]}}" style="max-width:350px"/>
        <div ng-show="uc.editing == true"><input type="button" value="Upload" ng-click="uc.eventService.userToView.img = uc.eventService.returnPicker()" /> <span>Upload profile image</span></div>
      </md-card-title-media>

      <md-card-title-text ng-show="uc.editing == false" class="eventSubheading">
        <div><span>Name:</span> {{uc.eventService.userToView.name}}</div>
        <div><span>Age:</span> {{uc.eventService.userToView.age}}</div>
        <div><span>Gender:</span> {{uc.eventService.userToView.gender}}</div>
        <div><span>Location:</span> {{uc.eventService.userToView.location}}</div>
        <div><span>Favorite Games:</span> {{uc.eventService.userToView.favoriteGames}}</div>
        <div><span>Contact Me:</span> {{uc.eventService.userToView.contactInfo}}</div>
        <div><span>Description:</span> {{uc.eventService.userToView.aboutMe}}</div>

      </md-card-title-text>

      <md-card-title-text ng-show="uc.editing == true" class="eventSubheading">

        <div><span>Name:</span> <input type="text" name="" ng-model="uc.eventService.userToView.name" value="{{uc.eventService.userToView.name}}" /></div>
        <div><span>Age:</span> <input type="text" name="" ng-model="uc.eventService.userToView.age" value="{{uc.eventService.userToView.age}}" /></div>
        <div><span>Gender:</span> <input type="text" name="" ng-model="uc.eventService.userToView.gender" value="{{uc.eventService.userToView.gender}}" /></div>
        <div><span>Location:</span> <input type="text" name="" ng-model="uc.eventService.userToView.location" value="{{uc.eventService.userToView.location}}" /></div>
        <div><span>Favorite Games:</span> <input type="text" name="" ng-model="uc.eventService.userToView.favoriteGames" value="{{uc.eventService.userToView.favoriteGames}}" /></div>
        <div><span>Contact Me:</span> <input type="text" name="" ng-model="uc.eventService.userToView.contactInfo" value="{{uc.eventService.userToView.contactInfo}}" /></div>
        <div><span>Description:</span> <input type="text" name="" ng-model="uc.eventService.userToView.aboutMe" value="{{uc.eventService.userToView.aboutMe}}" /></div>

      </md-card-title-text>

    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <!-- <md-button class="md-raised md-primary" ng-show="true" type="button" name="button" ng-click="uc.editProfile()"><span ng-show="uc.editing == false">EDIT</span><span ng-show="uc.editing == true">Cancel</span></md-button>
      <md-button class="md-raised md-primary" ng-show="uc.editing == true" type="button" name="button" ng-click="uc.updateUserProfile()">Update</md-button> -->
    </md-card-actions>
  </md-card>
</div>







<!-- <div flex-xs flex-gt-xs="80" layout="column" class="pageContainer">
  <md-card style="margin-top:20px">
    <div layout="row" style="background-color:skyblue"><h1 style="font-size:48px;text-align:center;margin-left:auto;margin-right:auto;">{{uc.eventService.userToView.userName}}</h1></div>
    <md-card-title style="background-color:yellow">

      <md-card-title-media>
        <div class="card-media" style="height:250px;width:350px;margin-right:10px"></div>
      </md-card-title-media>

      <md-card-title-text style="background-color:yellow">
        <span class="eventSubheading">Name: {{uc.eventService.userToView.name}}</span>
        <span class="eventSubheading">Age: {{uc.eventService.userToView.age}}</span>
        <span class="eventSubheading">Gender: {{uc.eventService.userToView.gender}}</span>
        <span class="eventSubheading">Location: {{uc.eventService.userToView.location}}</span>
        <span class="eventSubheading">Favorite games: {{uc.eventService.userToView.favoriteGames}}</span>
        <span class="eventSubheading">Contact: {{uc.eventService.userToView.contactInfo}}</span>
        <span class="eventSubheading">About me: {{uc.eventService.userToView.aboutMe}}</span>
      </md-card-title-text>

    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <a href="#/editmyprofile"><md-button class="md-raised md-primary" type="button" name="button">EDIT</md-button></a>
    </md-card-actions>
  </md-card>
</div>





  <p>
    My Profile
  </p>
  <p>
    Name: {{uc.eventService.userToView.name}}
  </p>
  <p>
    Age: {{uc.eventService.userToView.age}}
  </p>
  <p>
    Gender: {{uc.eventService.userToView.gender}}
  </p>
  <p>
    Location: {{uc.eventService.userToView.location}}
  </p>
  <p>
    Favorite Games: {{uc.eventService.userToView.favoriteGames}}
  </p>
  <p>
    Contact Info: {{uc.eventService.userToView.contactInfo}}
  </p>
  <p>
    About Me: {{uc.eventService.userToView.aboutMe}}
  </p>

  <a href="#/editmyprofile"><button type="button" name="button">EDIT</button></a> -->
</div>
