<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
<div flex-xs flex-gt-xs="80" layout="column" class="pageContainer">
  <md-card style="margin-top:20px">
    <div layout="row" style="background-color:skyblue"><h1 style="font-size:48px;text-align:center;margin-left:auto;margin-right:auto;">{{uc.eventService.eventToView.title}}</h1></div>
    <md-card-title>

      <md-card-title-media>
        <div class="card-media" style="height:250px;width:350px;margin-right:10px"></div>
      </md-card-title-media>

      <md-card-title-text>

        <span class="eventSubheading">Hosted by: {{uc.eventService.eventToView.host}}</span>
        <span class="eventSubheading">When: {{uc.eventService.eventToView.date | date}} at {{uc.eventService.eventToView.time}}</span>
        <span class="eventSubheading">Location: {{uc.eventService.eventToView.location}}</span>
        <span class="eventSubheading">Games: {{uc.eventService.eventToView.games}}</span>
        <span class="eventSubheading">Capacity: 12 players</span>
        <span class="eventSubheading">Skill levels welcome: All</span>
        <span class="eventSubheading">Contact host: host@gmail.com</span>
        <span class="eventSubheading">Description: {{uc.eventService.eventToView.description}}</span>
        <span class="eventSubheading" ng-show="((uc.eventService.eventToView.pending.length > 0) && (uc.eventService.eventToView.admin.includes(uc.userObject.userName)))" >
          Pending requests from: <span ng-repeat="requester in uc.eventService.eventToView.pending">(  {{requester}}  )<button type="button" name="button" ng-click="uc.eventService.approveRequest(admEvent._id, requester)">Approve</button><button type="button" name="button">Deny</button></span>
        </span>
      </md-card-title-text>
      <div>
        <p ng-show="uc.eventService.eventToView.closed" style="font-size:24px;margin-top:-10px">EVENT FULL</p>
        <p ng-show="!uc.eventService.eventToView.closed" style="font-size:24px;margin-top:-10px">EVENT OPEN</p>
      </div>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ng-show="!((uc.eventService.eventToView.saved.includes(uc.userObject.userName)) || (uc.eventService.eventToView.admin.includes(uc.userObject.userName)))" type="button" name="button" ng-click="uc.eventService.addToSaved()">Save</md-button>
      <md-button class="md-raised md-primary" ng-show="!((uc.eventService.eventToView.pending.includes(uc.userObject.userName)) || (uc.eventService.eventToView.admin.includes(uc.userObject.userName)) || (uc.eventService.eventToView.attending.includes(uc.userObject.userName)))" type="button" name="button" ng-click="uc.eventService.requestToAttend(uc.eventService.eventToView._id)">Request to Attend</md-button>
      <md-button class="md-raised md-primary" ng-show="uc.eventService.eventToView.admin.includes(uc.userObject.userName)" type="button" name="button" ng-click="uc.eventService.goToEditEvent(uc.eventService.eventToView)">EDIT</md-button>
    </md-card-actions>
  </md-card>
</div>










  <p>
    Viewing event!
  </p>
  <p>
    Title: {{uc.eventService.eventToView.title}}
  </p>
  <p>
    Hosted by: {{uc.eventService.eventToView.host}}
  </p>
  <p>
    Date: {{uc.eventService.eventToView.date}}
  </p>
  <p>
    Time: {{uc.eventService.eventToView.time}}
  </p>
  <p>
    Location: {{uc.eventService.eventToView.location}}
  </p>
  <p>
    Games: {{uc.eventService.eventToView.games}}
  </p>
  <p>
    Description: {{uc.eventService.eventToView.description}}
  </p>
  <p>
    Attending: {{uc.eventService.eventToView.attending}}
  </p>




  <button ng-show="!((uc.eventService.eventToView.saved.includes(uc.userObject.userName)) || (uc.eventService.eventToView.admin.includes(uc.userObject.userName)))" type="button" name="button" ng-click="uc.eventService.addToSaved()">Save</button>
  <button ng-show="!((uc.eventService.eventToView.pending.includes(uc.userObject.userName)) || (uc.eventService.eventToView.admin.includes(uc.userObject.userName)) || (uc.eventService.eventToView.attending.includes(uc.userObject.userName)))" type="button" name="button" ng-click="uc.eventService.requestToAttend()">Request to Attend</button>
  <button ng-show="uc.eventService.eventToView.admin.includes(uc.userObject.userName)" type="button" name="button" ng-click="uc.eventService.goToEditEvent()">EDIT</button>
  <button type="button" name="button" ng-click="uc.mongooseTest()">TEST</button>
</div>
